/* Reset styles */
body,
h1,
ol,
ul {
  margin: 0;
  padding: 0;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  color: #333;
}

main {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  
 
}
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.quiz-container {
  margin: 0 auto;
  text-align: left;
  max-width: 600px;
}
choices {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;

}

h1 {
  margin-bottom: 30px;
  line-height: 1.8;
}

button {
  display: inline-block;
  padding: 10px 20px;
  color: black;
  cursor: pointer;
  margin-left: 50px;
  width: 80%;
  text-align: left;
}

#start-button {
text-align: center;
background-color: green;
font-size: x-large;
font-weight: bolder;
border-radius: 50px;
border: none;
width: 40%;

}

input[type="text"] {
  padding: 10px;

}

#feedback {
  margin-top: 10px;
  text-align: center;
  margin: 30px;

  font-size: 30px;
  font-weight: bold;
}

.correct-feedback {
  background-color: green;
  padding: 10px;
  border-radius: 10px;
  transform: scale(1.2);
}

.incorrect-feedback {
  background-color: red;
  padding: 10px;
  border-radius: 10px;
}

#initials {
display: none;
}




#submit-button {
  display: none;
}

.submit {
  display: block;
  background-color: green;
  width: 40%;
  text-align: center;
  font-size: 25px;
  margin: 10px;
  border-radius: 10px;
}


